@use 'bootstrap/scss/bootstrap';

#tsparticles > canvas {
    z-index: -1;
}

html {
    width: 100%;
    height: 100%;
}

.vertical-center {
    height: calc(100% - 56px);
    height: calc(100vh - 56px);

    display: flex;
    align-items: center;
}

.nav-offset {
    padding-bottom: 84px;
}
